@import url('https://fonts.googleapis.com/css?family=Oswald');

:root {
  --stone-color: #336B87;
  --mist-color: #90AFC5;
  --shadow-color: #2A3132;
  --autumn-color: #763626;
}

* {
  font-family: 'Oswald', sans-serif;
}

/* HEADER PAGE */
.header {
  display: flex;
  justify-content: center;
  background-color: var(--stone-color);
  color: white;
  margin-bottom: 20px;
}

/* FOURTEENER CARDS */
.fourteenerCard {
  border: 1px solid black;
  width: 300px;
  height: 550px;
  margin-bottom: 10px;
  text-align: center;
  margin: 20px;
}

.fourteenerCard img {
  width: 250px;
  margin: 5px;
  border-radius: 10px;
}

.mtnTitleBar {
  background-color: var(--stone-color);
  color: white;
  height: 85px;
  display: flex;
  justify-content: center;
}

/* MY PREFERENCES */
.preferences {
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  margin: 40px;

}

/* MY OPTIONS */
.myOptions {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}