@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
  font-family: 'Oswald', sans-serif;
}

/* HEADER PAGE */
.header {
  display: flex;
  justify-content: center;
  background-color: #336B87;
  color: white;
  margin-bottom: 20px;
}

/* FOURTEENER CARDS */
.fourteenerCard {
  border: 1px solid black;
  width: 300px;
  height: 400px;
  margin-bottom: 10px;
}

.fourteenerCard img {
  width: 250px;
  margin: 5px;
  border-radius: 10px;
}

.mtnTitleBar {
  background-color: #336B87;
  color: white;
  height: 85px;
  display: flex;
  justify-content: center;
}

/* MY PREFERENCES */
.preferences {
  border: 1px solid black;
  padding: 20px;
  text-align: center;

}

.App {
  text-align: center;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
